/* === GERAL === */
body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  background: linear-gradient(to bottom, #000000, #d9fbe7);
  color: #2f4f4f;
}

/* === CABEÇALHO === */
header {
  background-image: url('fundo-cabecalho.jpg.jpeg');
  background-size: cover;
  background-position: center;
  padding: 30px 20px;
  text-align: center;
}

.titulo-principal {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin: 0 0 10px;
  padding: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: aparecer 1.5s ease-out forwards;
}
/* === SEÇÃO DE IMAGEM === */
.imagem-ilustrativa {
  text-align: center;
  margin: 50px 0 40px;
}

.imagem-ilustrativa img {
  width: 90%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 6px 12px;
 
  border-radius: 8px;
  margin: 0 auto;
  max-width: 1000px;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #38a169;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s;
}

nav a:hover {
  background-color: #2f855a;
  transform: scale(1.05);
}

/* === CONTEÚDO PRINCIPAL === */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2e8b57;
  margin-top: 30px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

ul {
  font-size: 18px;
  margin-left: 20px;
  line-height: 1.6;
}

li {
  margin-bottom: 12px;
}

.destaque {
  font-weight: bold;
  color: #44926e;
}

.subtitulo-destaque {
  font-size: 32px;
  color: #2f855a;
  margin: 40px 0 20px;
  padding: 12px 16px;
  border-left: 6px solid #38a169;
  background-color: #e6ffe6;
  border-radius: 8px;
  animation: aparecer 1.2s ease-out forwards;
  opacity: 0;
  transform: translateX(-20px);
}

/* === RODAPÉ === */
footer {
  background-color: #0b5f2f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* === ANIMAÇÕES === */
@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === INTRO COM FUNDO PRETO === */
#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 1s ease;
  color: #72ff71;
}

.intro-title {
  color: #38a169;
  font-size: 48px;
  font-family: 'Fredoka', sans-serif;
  animation: fadeIn 1.5s ease-out forwards;
  opacity: 0;
}

.site {
  display: none;
}
body:not(.skip-intro) #intro {
  display: flex;
}