body {
    background-color: #0b0f0c;
    color: #c9f7c1;
    margin:  0;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-top: 1rem;
}
nav a {
  color: #a2ffa2;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav a:hover {
    color: #16cf35;
}

header {
    background-color: #132b13;
    padding: 2px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 255, 100, 0.1);
}
header h1 {
  font-size: 3rem;
  color: #72ff71;
  margin: 0;
}

.imagem {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 2px auto;
  border: 2px solid #5fe45f;
  border-radius: 8px;
 
}
#intro {
  background-color: #0b0f0c;
  color: #72ff71;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 1s ease;
}
.destaque {
  color: #7fff7f;
  font-weight: bold;
}
main {
 padding: 4px 2px;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  content: "";
  clear: both;
}
section {
  margin-bottom: 3rem;
}
section h2 {
  font-size: 29px;
  border-left: 4px solid #72ff71;
  padding-left: 7px;
  color: #b4ffb2;
}
section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #d8ffd5;
}
.imagem-importancia {
  float: right;
  margin: 0 0 1rem 2rem; 
  width: 300px;
  border: 2px solid #72ff71;
  border-radius: 10px;
}


.site {
  display: none;
}
body:not(.skip-intro) #intro {
  display: flex;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1b5e20, #000000); /* Verde escuro → preto */
  color: #c9f7c1; /* Letras brancas para contraste */
  margin: 0;
  padding: 20px;
}

nav {
    margin-top: 1rem;
}
nav a {
  color: #a2ffa2;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav a:hover {
    color: #16cf35;
}

header {
    background-color: #132b13;
    padding: 2px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 255, 100, 0.1);
}
header h1 {
  font-size: 3rem;
  color: #72ff71;
  margin: 0;
}


.container {
  max-width: 900px;
  margin: auto;
  background: rgba(0,0,0,0.7);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,255,0,0.2);
}

h1{
  text-align: center;
  font-size: 40px;
  color: #72ff71;
  margin-top: 20px;
}

 h2 {
  font-size: 24px;
  color: #72ff71;
  margin: 0;
}


p {
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #c8e6c9;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #054105;
}

code {
  background-color: #284a01;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}
